---
import Section from "../global/Section.astro";
import cv from "@cv";
import ExperiencCard from "../global/ExperienceCard.astro";

const {
  experience: { jobs },
} = cv;

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section sectionLabel={t("work.title")} id="experience">
  <div class="flex flex-col gap-5 pointer-events-auto">
    {jobs.map((exp) => <ExperiencCard {...exp} />)}
  </div>
</Section>
