---
import NNeshzLetter from "../icons/NNeshzLetter.astro";
---

<section class="overflow-hidden relative">
  <NNeshzLetter />

  <div class="px-8 md:px-12 py-24 max-w-4xl mx-auto relative">
    <div>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Neftali Hernández <span class="block">Full Stack Developer</span>
      </h2>
    </div>

    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 gap-4 max-w-4xl group h-full mt-12"
    >
      <p>
        I'm a Full Stack Developer with a passion for building web applications.
        I have experience working with JavaScript, React, Node.js, and more.
      </p>
      <p>
        I'm currently looking for new opportunities. If you're interested in
        working together, feel free to reach out.
      </p>
      <em class="col-span-full text-sm mt-2 md:mt-12">
        <p>
          Programming is the easiest way to understand how things work.
          <span class="block text-black">⏤ Chris Pine. </span>
        </p>
      </em>
    </ul>
  </div>
</section>
