<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          This is my work,<span class="lg:block">and I am proud of it</span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-gray-500"
        >
          Building the new era, putting effort into my work, and striving to
          improve with each project I undertake.
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3"
          >
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Google Translate Clone
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                This is a clone of Google Translate, built with Vite.js and
                JavaScript calling ChatGPT API.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                <a href="https://github.com/NNeshz/pern-tasks" target="_blank">
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </a>
                </div><a
                  class="mt-4 text-lg font-semibold leading-6 underline text-black font-display tracking-tight"
                  href="https://golden-battle-production.up.railway.app/"
                  target="_blank"
                  >
                  To Do List with Auth
                </a>
              </div><div class="mt-4 text-gray-500 text-sm">
                Classic To Do List, built with PostgreSQL, Express, React, and
                Node.js. It has authentication and authorization.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                <a href="https://github.com/NNeshz/tetris-game" target="_blank">
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </a>
                </div><a
                  class="mt-4 text-lg font-semibold leading-6 underline text-black font-display tracking-tight"
                  href="https://tetris-game-roan.vercel.app/"
                  target="_blank"
                  >
                  Tetris
                </a>
              </div><div class="mt-4 text-gray-500 text-sm">
                Tetris game built with JavaScript vanilla and Canvas. It works
                on PC only! With the arrow keys you can move the pieces.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Expenses Tracker
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                Expenses Tracker built with React, Tailwind CSS and React Victory. It uses
                localStorage to store data.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Real Time Chat
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                This was a project using Socket.io, JavaScript, and Node.js. It
                is a real time chat, you may use 2 tabs to test it.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <img src="/Github.svg" class="h-8" alt="Github" />
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Ecommerce Clone - In Progress
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                This is a clone of an ecommerce website, built with React, Tailwind CSS,
                Express, Node.js and PostgreSQL. It is still in progress.
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
