<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight"
        >
          Frequent questions and answers
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Because we all want to know more about me. (Joke)
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              What programming languages do you feel most comfortable using and
              why?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              If I had to make a choice, my preference would be for JavaScript.
              I admire the versatility of the language, its widespread
              applicability, and its functional programming capabilities.
              Additionally, I'm keen to expand my knowledge and skills in
              TypeScript.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              How do you stay updated on trends and advancements in the world of
              software development?
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
              I consistently seek out new learning opportunities. I'm subscribed
              to several newsletters and regularly consume articles on Medium
              and Dev.to. I also enjoy watching videos on YouTube and listening
              to podcasts. Additionally, I'm an avid Twitter user, where I
              follow various developers and companies.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              How do you handle stress and tight deadlines on a project?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              I maintain a high level of organization in my work approach,
              consistently striving to proactively schedule tasks. I find it
              beneficial to maintain a to-do list and consistently prioritize my
              assignments. Additionally, I value the importance of periodic
              breaks, often incorporating short walks or exercise sessions into
              my routine. I also enjoy listening to music during work for
              enhanced productivity.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight"
            >
              What do you consider your biggest strengths as a junior developer?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
              I have a quick grasp of new concepts and I'm perpetually in
              pursuit of expanding my knowledge base. My organizational skills
              are highly refined, making me an excellent collaborator within
              team environments. My innate curiosity drives me to continually
              explore and acquire fresh insights and skills.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
